.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
* {box-sizing: border-box;}
#header {
    text-align: center;
    *  {
        vertical-align: middle;
    }
    h1 {
        display: inline-block;
        transition: all 0.25s;
    }
    .searchBox {
        display: inline-block;
        .search {
            padding:10px;
            display: inline-block;
            border: 1px solid #ccc;
            height: 60px;
            input {
                height: 40px;
                border: none;
                min-width: 250px;
                padding: 0;
            }
        }
        .btn {
            height: 60px;
            border: 1px solid #ccc;
            background: none;
            outline: none;
            border-radius: 10px;
            min-width: 60px;
        }
    }
}

#thumbs {
    width:840px;
    margin: 100px auto;
    ul {
        overflow: hidden;
        li {
            float: left;
            margin: 5px;
            
        }
    }
    .btns {
        text-align: center;
        margin-top:50px;;
        .btnMore {
            display: none;
            outline: none;
            border: 1px solid #ccc;
            width:180px;
            height: 40px;
            line-height: 40px;
            border-radius: 100px;
            background-color: #fff;
            box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
        }
    }
}