* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 16px; color: #111; }

a { text-decoration: none; color: inherit; }

#view { width: 100vw; height: 100vh; overflow: hidden; position: relative; }

#view:after { content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#view img { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 90%; }

#drag { position: absolute; bottom: 100px; width: 800px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

#drag .bg { width: 100%; height: 2px; background-color: #000; color: white; line-height: 50px; text-align: center; position: absolute; left: 0; top: -40px; z-index: 2; }

#drag .knob { position: absolute; width: 80px; height: 80px; line-height: 80px; background-color: black; color: white; border-radius: 100%; top: -40px; }

.txt { position: absolute; left: 30px; top: 30px; font-size: 20px; z-index: 99; width: 300px; }
